//META {"name":"Transparency Theme","description":"If you have any question or suggestion just message me at discord Twiistrz#8016","author":"Twiistrz","version":"2.0"}*//{}

/* Scrollbar
   ========================================================================== */

::-webkit-scrollbar-thumb {
    border-color: transparent !important; 
    background: var(--transparency) !important;
    border-radius: 0 !important;
} 

::-webkit-scrollbar, 
::-webkit-scrollbar-track-piece {
    border-color: transparent !important; 
    background: none !important;
} 

::-webkit-scrollbar-corner {
    display: none !important;
}

/* Fixes/Resets
   ========================================================================== */

#friends .headerBar-UHpsPw,
.content-yTz4x3,
.title-3qD0b-,
.messagesWrapper-3lZDfY,
.members-1998pB,
.layer-3QrUeG,
.typing-2GQL18,
.da-container:not(.modal-3HD5ck):not(.container-3cGP6G):not(.isMentionedCozy-3isp7y),
.da-layers,
.ui-standard-sidebar-view .da-sidebarRegion,
.ui-standard-sidebar-view .da-contentRegion,
.activityFeed-28jde9 .header-1RC2Wb,
.chat-3bRxxu form,
.chat-3bRxxu .channelTextArea-1LDbYG .inner-zqa7da {
    background: none !important;
}

.da-contextMenu {
    z-index: 9999;
}

.container-1UB9sr,
.channelTextArea-rNsIhG,
.modal-1UGdnR .connectedAccounts-repVzS > .flex-1xMQg5 {
    border: 0 !important;
}

.newMessagesBar-mujexs,
.da-base,
.da-emojiPicker .da-header .da-searchBar {
    border-radius: 0 !important;
}

#friends .headerBar-UHpsPw,
.da-channels .da-container .da-header,
.da-title,
.da-searchBar {
    box-shadow: none !important;
}

/* App Background
   ========================================================================== */

.da-appMount {
	background: var(--bg-app) center/cover no-repeat;
	animation: none;
}

/* Emoji Picker
   ========================================================================== */

.da-emojiPicker {
    border-radius: 5px !important;
    border: 0 !important;
}

.da-emojiPicker .da-header {
    border: 0 !important;
    background-color: #2b2b2b;
}

/* Title Bar
   ========================================================================== */

.da-titleBar {
    margin-top: 0;
    padding-top: 4px;
    background: var(--transparency) !important;
}

/* Guilds/Server Selector
   ========================================================================== */

#bd-pub-li {
	position: absolute;
    top: 0px;
    left: 0px;
}

#bd-pub-li #bd-pub-button {
    position: absolute;
    width: 100%;
    text-align: center;
}

.guildsWrapper-5TJh6A {
    width: 125px;
}

.guildsWrapper-5TJh6A,
.guildsWrapper-5TJh6A .guildsAdd-21_IdK {
    background: var(--transparency) !important;
}

.guildsWrapper-5TJh6A .da-homeIcon {
    background: var(--bg-home-btn) no-repeat center/cover;
}

.guildsWrapper-5TJh6A .da-homeIcon g,
.guildsWrapper-5TJh6A .da-guilds .da-guildSeparator {
    display: none;
}

.guildsWrapper-5TJh6A .da-scrollerWrap {
    width: 150px;
}

.guildsWrapper-5TJh6A .da-guilds {
    display: flex;
    flex-flow: row wrap;
    padding-left: 0;
    align-content: flex-start;
}

.guildsWrapper-5TJh6A .da-guilds .guild-1EfMGQ {
    position: relative;
    margin-left: 8px;
    margin-top: 8px;
}

.guildsWrapper-5TJh6A .da-guilds .da-friendsOnline {
    color: var(--secondary-text) !important;
	position: relative;
    width: 100%;
    margin: auto;
    margin-top: 5px;
}

.guildsWrapper-5TJh6A .da-guilds .guild-1EfMGQ.unread-qLkInr::before {
    left: -2px;
    top: 5px;
    z-index:9000;
}

.guildsWrapper-5TJh6A .da-guilds .guild-1EfMGQ:first-child {
    position: relative; 
    left: 0;
    margin: auto;
    margin-top: 15px;
}

.guildsWrapper-5TJh6A .da-guilds .guild-1EfMGQ.selected-ML3OIq:before {
    display: none;
}

.guildsWrapper-5TJh6A .da-guilds .da-dms {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.guildsWrapper-5TJh6A .da-guilds .da-dms .guild-1EfMGQ {
    left: 0;
}

/* Channels
   ========================================================================== */

.da-channels,
.da-channels .contentHoveredVoice-3p_NEO:active,
.da-channels .contentConnectedVoice-qL-YrL:active,
.da-channels .contentHoveredText-2D9B-x,
.da-channels .contentSelectedText-3wUhMi,
.da-channels .container-2Rl01u .da-header:hover,
.da-channels .container-2Rl01u.popout-open .da-header,
.da-channels .wrapper-2NJDcI {
    background: var(--transparency) !important;
}

.da-channels .nameDefault-2DI02H,
.da-channels .nameHovered-1gxhWH,
.da-channels .nameCollapsed-34uFWo,
.da-channels .nameHoveredCollapsed-2orEWB,
.da-channels .nameDefaultText-24KCy5,
.da-channels .nameHoveredText-1uO31y,
.da-channels .nameMutedText-3Vj4bM {
    color: var(--primary-text) !important;
}

.da-channels .nameDefaultText-24KCy5,
.da-channels .nameMutedText-3Vj4bM {
    opacity: var(--dimmed) !important;
}

/* Private Channels
   ========================================================================== */

.da-privateChannels .channel.selected a,
.da-privateChannels .channel:hover a {
    background: var(--transparency) !important;
}

.da-privateChannels .channel .channel-name {
    opacity: var(--dimmed) !important;
    color: var(--primary-text) !important;
}

.da-privateChannels .channel.selected .channel-name,
.da-privateChannels .channel:hover .channel-name {
    opacity: 1 !important;
}

.da-privateChannels .channel .channel-activity {
    color: var(--secondary-text) !important;
}

/* Chat Area
   ========================================================================== */

.chat-3bRxxu,
.chat-3bRxxu .da-aka,
.chat-3bRxxu .embedInner-1-fpTo,
.chat-3bRxxu .attachment-33OFj0 {
    background-color: var(--transparency) !important;
}

.chat-3bRxxu .isMentioned-N-h9aa {
    background: rgba(250,166,26,.1) !important;
}

.chat-3bRxxu .da-newMessageBar {
    left: 0 !important;
    width: 100% !important;
}

.chat-3bRxxu .da-messagesWrapper .da-messages .da-default h1 {
    text-align: center;
    color: var(--primary-text) !important;
}

.chat-3bRxxu .channelTextArea-1LDbYG {
    padding-top: 4px !important;
    margin-bottom: 20px !important;
}

.chat-3bRxxu .typing-2GQL18 {
    bottom: -3px;
    padding-left: 55px;
}

.chat-3bRxxu .messageCozy-2JPAPA .avatar-17mtNa {
    margin: -2px 15px 20px;
}

.chat-3bRxxu .messageCozy-2JPAPA .avatar-17mtNa,
.chat-3bRxxu .messageCozy-2JPAPA .avatar-17mtNa .image-33JSyf {
    height: 50px;
    width: 50px;
}

/* Members
   ========================================================================== */

.da-membersWrap .memberOnline-1CIh-0:hover .da-content,
.da-membersWrap .memberOnline-1CIh-0.popout-open .da-content,
.da-membersWrap .memberOffline-2lN7gt:hover .da-content,
.da-membersWrap .memberOffline-2lN7gt.popout-open .da-content {
    background-color: var(--transparency) !important;
}

/* COG View
   ========================================================================== */

.ui-standard-sidebar-view,
.ui-standard-sidebar-view .container-2VW0UT,
.ui-standard-sidebar-view .itemDefault-3Jdr52:hover,
.ui-standard-sidebar-view .ui-tab-bar-item:not(.selected):hover,
.ui-standard-sidebar-view .input-cIJ7To,
.ui-standard-sidebar-view .authedApp-mj2Hmd,
.ui-standard-sidebar-view .userInfoViewing-16kqK3,
.ui-standard-sidebar-view .formNotice-2_hHWR,
.ui-standard-sidebar-view .accountList-33MS45,
.ui-standard-sidebar-view .select-2TCrqx .Select-control,
.ui-standard-sidebar-view .container-CpszHS,
.ui-standard-sidebar-view .card-FDVird:before,
.ui-standard-sidebar-view .card-FDVird .game-name-input:hover,
.ui-standard-sidebar-view .card-FDVird .game-name-input:focus,
.ui-standard-sidebar-view .user-settings-games .not-detected {
    background-color: var(--transparency) !important;
}

.ui-standard-sidebar-view .cardPrimaryEditable-3KtE4g {
    background-color: var(--transparency);
}

.ui-standard-sidebar-view .header-2RyJ0Y,
.ui-standard-sidebar-view .ui-tab-bar-header,
.ui-standard-sidebar-view .title-3sZWYQ {
    color: var(--primary-text) !important;
}

.ui-standard-sidebar-view .description-3_Ncsb,
.ui-standard-sidebar-view .desc-2Dttbk,
.ui-standard-sidebar-view .hoverRoll-YK53gQ,
.ui-standard-sidebar-view .ui-switch-item .style-description {
    color: var(--primary-text) !important;
}

.ui-standard-sidebar-view .ui-tab-bar-header {
    font-size: 12px !important;
    font-weight: 700 !important;
    line-height: 16px !important;
    text-transform: uppercase;
}

/* Games Tab
   ========================================================================== */

.activityFeed-28jde9,
.activityFeed-28jde9 .dock-10JPBX .dockItem-2kQDqg:hover,
.activityFeed-28jde9 .card-7JP0BX {
    background-color: var(--transparency) !important;
}

/* Friends Tab
   ========================================================================== */

#friends,
#friends .friends-table .friends-row:hover,
#friends .tab-bar .tab-bar-item:not(.selected):not(.tab-bar-item-primary):hover {
    background-color: var(--transparency) !important;
}

#friends .friends-column {
    color: var(--primary-text) !important;
}

/* User Popout
   ========================================================================== */

.userPopout-3XzG_A {
    background: var(--bg-app) center/cover no-repeat;
}

.userPopout-3XzG_A .header-2BwW8b,
.userPopout-3XzG_A .body-3iLsc4,
.userPopout-3XzG_A .footer-1fjuF6,
.userPopout-3XzG_A .quickMessage-1yeL4E,
.userPopout-3XzG_A .note-3kmerW textarea:focus {
    background: var(--transparency) !important;
}

.userPopout-3XzG_A .tip-2ab612,
.userPopout-3XzG_A .bodyTitle-Y0qMQz {
    color: var(--primary-text) !important;
}

.userPopout-3XzG_A .note-3kmerW {
    color: var(--secondary-text) !important;
}

/* Modal
   ========================================================================== */

.modal-1UGdnR .inner-1JeGVc > .flex-1xMQg5 {
    background: var(--bg-app) center/cover no-repeat;
}

.modal-1UGdnR .topSectionNormal-2-vo2m,
.modal-1UGdnR .body-3ND3kc,
.modal-1UGdnR .body-3ND3kc .note-QfFU8y textarea:focus,
.modal-1UGdnR .connectedAccounts-repVzS > .flex-1xMQg5 {
    background: var(--transparency) !important;
}

.modal-1UGdnR .body-3ND3kc .userInfoSectionHeader-CBvMDh {
    color: var(--primary-text) !important;
}
