/* Server Grid 2 Column Add-on
   ========================================================================== */

#bd-pub-li .wrapper-2lTRaf a {
    margin: 0 auto;
}

.wrapper-1Rf91z {
    width: 125px;
}

.wrapper-1Rf91z > .scrollerWrap-1IAIlv {
    width: 150px;
}

.wrapper-1Rf91z .scroller-2TZvBN {
    display: flex;
    flex-flow: row wrap;
    padding-left: 0;
    align-content: flex-start;
}

.wrapper-1Rf91z .scroller-2TZvBN > .dms-rcsEnV {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.wrapper-1Rf91z .scroller-2TZvBN > .friendsOnline-2JkivW {
    position: relative;
    width: 100%;
    margin: auto;
    margin-top: 5px;
}

.wrapper-1Rf91z .scroller-2TZvBN > .container-2td-dC:first-child {
    position: relative;
    left: 0;
    margin: auto;
    margin-top: 15px;
}

.wrapper-1Rf91z .scroller-2TZvBN .container-2td-dC {
    position: relative;
    margin-left: 8px;
    margin-top: 8px;
}
