//META {"name":"Transparency Theme","description":"If you have any question or suggestion just message me at discord _Twiistrz#8016","author":"_Twiistrz#8016","version":"Config"}*//{}
@import url(https://rawgit.com/Twiistrz/BetterDiscordThemeMasterFile/master/TransparencyMaster.css);

/**
 * To make editing this theme easier I recommend using Notepad++ , you can download it for free here - https://notepad-plus-plus.org/download/ 
 *
 * Any images you use MUST end with .jpg or .png or any other image extension 
 * This is NOT a valid link, https://imgur.com/a/ycjL2 
 * This is a valid link, https://i.imgur.com/rCqnrQ7.jpg 
 *
 * If you find an image I would STRONGLY recommend rehosting the image on imgur https://imgur.com/upload 
**/

/* Configuration
   ========================================================================== */

:root {
    --bg-app: url(https://images8.alphacoders.com/631/631739.jpg); /* Edit this to change your main background */
    --bg-popout: url(https://images3.alphacoders.com/734/734139.png); /* Edit this to change your popouts and modals background */
    --bg-home-btn: url(https://images3.alphacoders.com/734/734139.png); /* Edit this to change your home button background */
    --primary-text: #ffffff; /* Default: #ffffff */
    --secondary-text: #dddddd; /* Default: #dddddd */
    --default-color: rgba(219, 220, 221, .8); /* Default: rgba(52, 152, 219, .8) */
    --default-hover-color: rgba(41, 128, 185, .8); /* Default: rgba(41, 128, 185, .8)*/
    --transparency: rgba(0, 0, 0, .6); /* Default: rgba(0, 0, 0, .6)*/
    --dimmed: .5; /* Edit this to change the dim of channels text and other dim */
}

/* Enable Server Grid 2 Column - Comment out to disable
   ========================================================================== */
#@import url(https://rawgit.com/Twiistrz/BetterDiscordThemeMasterFile/master/Transparency2Grid.css);

/* Your Custom CSS
   ========================================================================== */


