//META {"name":"Transparency Theme","description":"If you have any question or suggestion just message me at discord _Twiistrz#8016","author":"Twiistrz#8016","version":"Config"}*//{}
@import url(https://rawgit.com/Twiistrz/BetterDiscordThemeMasterFile/master/TransparencyMaster.css);

/* Configuration
   ========================================================================== */

   :root {
    --bg-app: url(https://images8.alphacoders.com/631/631739.jpg);
    --bg-popout: url(https://images3.alphacoders.com/734/734139.png); /* new */
    --bg-home-btn: url(https://images3.alphacoders.com/734/734139.png);
    --primary-text: #fff;
    --secondary-text: #ddd;
    --default-color: rgba(52, 152, 219, .8); /* new */
    --default-hover-color: rgba(41, 128, 185, .8); /* new */
    --transparency: rgba(0, 0, 0, .6);
    --scrollbar-size: 5px; /* new, not yet implemented */
    --dimmed: .5; 
}

/* Enable Server Grid 2 Column *just comment out if you want it to be disable
   ========================================================================== */

#bd-pub-li .guildInner-3DSoA4 a {
    margin: 0 auto;
}

.guildsWrapper-5TJh6A {
    width: 125px;
}

.guildsWrapper-5TJh6A > .scrollerWrap-1IAIlv {
    width: 150px;
}

.guildsWrapper-5TJh6A .guilds-1q_RqH {
    display: flex;
    flex-flow: row wrap;
    padding-left: 0;
    align-content: flex-start;
}

.guildsWrapper-5TJh6A .guilds-1q_RqH > .dms-rcsEnV {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.guildsWrapper-5TJh6A .guilds-1q_RqH > .friendsOnline-_wi_fM {
    position: relative;
    width: 100%;
    margin: auto;
    margin-top: 5px;
}

.guildsWrapper-5TJh6A .guilds-1q_RqH > .guild-1EfMGQ:first-child {
    position: relative; 
    left: 0;
    margin: auto;
    margin-top: 15px;
}

.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ {
    position: relative;
    margin-left: 8px;
    margin-top: 8px;
}
